 {
	"blog.product.feed":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774",
				"separated_by": "separator=[ ]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			},
			"2":  {
				"altlabel": "",
				"element": "fc5a6788-ffae-41d9-a812-3530331fef64",
				"layout": "",
				"link_to_item": "0",
				"order": "",
				"separated_by": "separator=[ ]",
				"showlabel": "1"
			}
		}
	},
	"blog.product.full":  {
		"top":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemprevnext"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"show_microdata": "0",
				"element": "55faeac2-25c2-4747-a0f3-a078bc98e95d"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "81cdfea1-9a20-4f98-86e9-c19555dcd387"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "c1185668-8452-4d2d-8baa-f96a0d02b57d"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"class_suffix": "",
				"valuta": "\u20ac",
				"element": "4d9f632b-75ef-4623-a0cf-3c3d914ffe06"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "c26feca6-b2d4-47eb-a74d-b067aaae5b90"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			}
		},
		"taxonomy":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemtag"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"ggsize": "medium",
				"ggannotation": "none",
				"ggwidth": "",
				"fbheight": "20",
				"fbwidth": "100",
				"fbshow_faces": "false",
				"fblayout": "button_count",
				"fbaction": "like",
				"fbcolorscheme": "light",
				"fbref": "",
				"twvia": "",
				"twtext": "",
				"twrelated": "",
				"twcount": "none",
				"element": "d857d939-47e9-4303-8f37-93b0cecace54"
			}
		},
		"related":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order":  {
					"0": "_itemcreated",
					"1": "",
					"2": ""
				},
				"layout": "",
				"link_to_item": "1",
				"separated_by": "tag=[<li>%s<\/li>]",
				"element": "65b7851d-199f-4ac6-95a7-409ad1bca488"
			}
		},
		"author":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "About the Author",
				"order":  {
					"0": "_itemcreated",
					"1": "",
					"2": ""
				},
				"layout": "related",
				"link_to_item": "0",
				"separated_by": "tag=[<div>%s<\/div>]",
				"element": "fc5a6788-ffae-41d9-a812-3530331fef64"
			}
		}
	},
	"blog.product.related":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"element": "cdce6654-4e01-4a7f-9ed6-0407709d904c",
				"height": "",
				"showlabel": "0",
				"width": ""
			}
		},
		"subtitle":  {
			"0":  {
				"altlabel": "",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			}
		},
		"title":  {
			"0":  {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "0",
				"showlabel": "0"
			}
		}
	},
	"blog.product.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "cdce6654-4e01-4a7f-9ed6-0407709d904c"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "c26feca6-b2d4-47eb-a74d-b067aaae5b90"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "ff1ed5b5-4365-457e-98bb-026366028bd7"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "fc5a6788-ffae-41d9-a812-3530331fef64"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "6af341e4-f0e9-4605-b2a5-60d7a3525a96"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "65b7851d-199f-4ac6-95a7-409ad1bca488"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "fdcbebaa-e61a-462d-963e-aff74ff95499"
			}
		}
	},
	"blog.product.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"class_suffix": "",
				"valuta": "\u20ac",
				"element": "4d9f632b-75ef-4623-a0cf-3c3d914ffe06"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "200",
				"height": "",
				"link_to_item": "1",
				"element": "cdce6654-4e01-4a7f-9ed6-0407709d904c"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "81cdfea1-9a20-4f98-86e9-c19555dcd387"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "c1185668-8452-4d2d-8baa-f96a0d02b57d"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"single_comment_text": "View Comments (%s)",
				"multiple_comments_text": "View Comments (%s)",
				"no_comments_text": "Leave Comment",
				"element": "_itemcommentslink"
			}
		}
	},
	"blog.product.shopform":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "Prijs",
				"class_suffix": "",
				"valuta": "\u20ac",
				"element": "4d9f632b-75ef-4623-a0cf-3c3d914ffe06"
			}
		},
		"form":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"show_buttons": "1",
				"show_label": "0",
				"element": "344b07ac-494d-459b-b1fc-14d5b1701cc1"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "8c383b69-d634-4c0e-a40c-aa02490c77af"
			}
		}
	}
}